.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: rgb(16, 16, 16);
  background-color: #fefdfc;
  padding: 20px 0;
  margin: 0;
  letter-spacing: 2px;
}
.menu-page {
  width: 50%;
  padding: 20px;
}
#Title{
  text-align: center;
}
.body{
  background-color: white;
}